<% content_for :title, "管理首页" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "dashboard"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
        <%= render :partial => 'shared/s_path'%>
    <%end%>
</div>