
    <div id="ext_list">
    <script type="text/javascript" charset="utf-8">
        var grid;
        var ds;
        $(function(){
            init_grid();
            init_listener();
        });

        function init_grid() {
            var editor = new Ext.ux.grid.RowEditor({
                saveText: '调整',
                cancelText: "取消"
            });

            var writer = new Ext.data.JsonWriter({
                encode: false
            });

            ds = new Ext.data.GroupingStore({
                groupField:'sku',
                proxy: new Ext.data.HttpProxy({
                    api: {
                            read: '/order_line_item_adjusteds/load_data?order_id=<%=@order.id%>&type=detail',
                            update: {url: '/order_line_item_adjusteds/ext_update?type=detail', method: 'put'}
                         }
                }),
                reader: new Ext.data.JsonReader({
                        root: 'Olirs',
                        totalProperty: 'size',
                        messageProperty: "message"
                    },
                    [
                        {name: 'id', mapping: 'id'},
                        {name: 'material_id', mapping: 'material_id'},
                        {name: 'sku', mapping: 'sku'},
                        {name: 'name', mapping: 'name'},
                        {name: 'region', mapping: 'region'},
                        {name: 'salesrep', mapping: 'salesrep'},
                        {name: 'unit_price', mapping: 'unit_price'},
                        {name: 'quantity', mapping: 'quantity'},
                        {name: 'adjusted_size', mapping: 'adjusted_size'},
                        {name: 'quantity_total', mapping: 'quantity_total'},
                        {name: 'subtotal', mapping: 'subtotal'}
                    ]),
                // restful: true,
                writer: writer
            });
            var cm = new Ext.grid.ColumnModel([
                {id: 'sku', header: "sku", dataIndex: 'sku',sortable:true,width:100},
                {id: 'name', header: "物料名称", dataIndex: 'name',sortable:true,width:186},
                {id: 'region', header: "所属区", dataIndex: 'region',sortable:true,width:100},
                {id: 'salesrep', header: "销售名", dataIndex: 'salesrep',sortable:true,width:100},
                {id: 'unit_price', header: "物料价格", dataIndex: 'unit_price',sortable:true,width:100},
                {id: 'quantity', header: "预定数量", dataIndex: 'quantity',sortable:true,width:100},
                {id: 'adjusted_size', header: "调整数量", dataIndex: 'adjusted_size',sortable:true,width:100,editor: new Ext.form.TextField({})},
                {id: 'quantity_total', header: "预定总数", dataIndex: 'quantity_total',sortable:true,width:100},
                {id: 'subtotal', header: "小计", dataIndex: 'subtotal',sortable:true,width:100,summaryType: 'sum'}
            ]);

        var filters = new Ext.ux.grid.GridFilters({
            local: true,   // defaults to false (remote filtering)
            filters: [
            {
                type: 'string',
                dataIndex: 'sku'
            }, {
                type: 'string',
                dataIndex: 'name'
            }, {
                type: 'string',
                dataIndex: 'region'
            }, {
                type: 'string',
                dataIndex: 'salesrep'
            },{
                type: 'numeric',
                dataIndex: 'unit_price'
            }, {
                type: 'numeric',
                dataIndex: 'quantity'
            }, {
                type: 'numeric',
                dataIndex: 'adjusted_size'
            }, {
                type: 'numeric',
                dataIndex: 'quantity_total'
            },{
                type: 'numeric',
                dataIndex: 'subtotal'
                }
            ]
        });

        // utilize custom extension for Hybrid Summary
        var summary = new Ext.ux.grid.HybridSummary();

        var plugins = [filters,summary];
        <%if @order.order_status_id ==1 || @order.order_status_id ==4%>
            plugins.push(editor);
        <%end%>

        var type = new Ext.Action({
            text: '显示总预定明细',
            handler: function(){
                location.href="/orders/<%=@order.id%>";
            },
            icon: '/images/icons/zoom.png'
        });

        grid = new Ext.grid.GridPanel({
            loadMask: true,
            // autoHeight: true,
            height: 300,
            autoWidth: true,
            ds: ds,
            cm: cm,
            sm: new Ext.grid.RowSelectionModel({ singleSelect: true }),
            plugins: plugins,
            view: new Ext.grid.GroupingView({
                forceFit:true,
                groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
            }),
            title: '<center>订单详细（<%=@order.order_status.name%>）<%if @order.order_status_id == 4%><br/>原因：<%=@order.memo%><%end%></center>',
            tbar: [type]
        });

        grid.render('ext_list');
        ds.load();//{params:{start:0}}

        grid.on("rowcontextmenu",function(grid,rowIndex,e){
            if(rowIndex<0){return;}
            e.preventDefault();
            grid.getSelectionModel().selectRow(rowIndex);
            var treeMenu = new Ext.menu.Menu([
                {
                    xtype:"",
                    text:"显示详情",
                    icon:"/images/icons/database.png",
                    pressed:true,
                    handler:function(){
                        var selections = grid.getSelectionModel().getSelections();
                        for (var i = 0; i < selections.length; i++) {
    parent.addwindow("/materials/"+selections[i].get('material_id')+"/iframe_show","物料详情",400,300);
                        }
                    }
                }
            ]);
            treeMenu.showAt(e.getPoint());
        });
        }
    </script>
    </div>