<% form_for @olia,:url=>{:action=>"accept_fail"},:html=>{:method=>:put,:onSubmit=>"return check_message();"} do |f| -%>
<table cellspacing="0" cellpadding="0" border="0" width="786" class="tab01">
    <tbody>
        <tr>
            <td id="tab_tit" colspan="4">申领拒绝理由</td>
        </tr>
        <tr>
            <td><%= label_tag :reason, "<em>*</em>请填写申领拒绝理由" %></td>
            <td class="td_left">
                <%= text_area_tag :reason %>
            </td>
        </tr>
        <tr><td id="tab_bottom" colspan="4"></td>
        </tr>
    </tbody>
</table>
<br/>
<div class="tab_btn">
    <%= f.submit "提交",:class=>"button_btn",:confirm=>"提交后将等待大区管理员修改申领！您确认此次提交吗？" %>
    <input type="button" onclick="$('#accept_fail_message').html('');" class="button_btn" value="取消"></input>
</div>
<%end%>

<%javascript_tag do%>
    function check_message(){
        var reason = $("#reason").val();
        if(reason.length<=0){
            alert("请输入申领拒绝理由");
            return false;
        }
    }
<%end%>