* {
    margin: 0px;
    padding: 0px;
    border:0;
}
body {
    background:#fff url(/images/bg.jpg) repeat-x 0 0;
    font-family: "黑体","宋体", Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color:#fff;
	color:#666666;
}
ol,ul{
    list-style:none;
}
a, a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #333333;
    text-decoration: underline;
}
#main a, #main a:visited {
    color: #666666;
    text-decoration: underline;
}
#main a:hover {
    color: #333333;
    text-decoration: underline;
}
.fLeft {float:left;}
.fRight {float:right;}
.clear {clear:both;}
#topper {
    width: 1003px; margin:0 auto;
}
#container {
    clear:both;
    width: 1003px;
    margin: 0 auto;
    background-color:#fff;
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    border-style: solid;
    border-width: 1px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	     -o-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        background: none repeat scroll 0 0 #FFFFFF;

}
#header {
    background:transparent url('/images/head-bg.jpg') repeat-x;
    width:1003px;
    height: 60px;
}
#profile {
    padding:10px 20px;
}

#content {
    width:1003px;
    height:auto!important;
    min-height:500px;
    *height:500px;
}
#menu {
/*  background-color: #EDF4FE;
    height: 600px;*/
    width: 180px;
    padding-left:10px;
    padding-right: 15px;
    float: left;
}
#main {
    float: left;
    width: 786px;
}
#footer{
    clear:both;
    padding:10px; margin-top:2em; background-color:#eee;
    color: #000000;
    text-align: center;
}
#footer a{
    color: #999999;
}

.logo {width:200px;height:184px;background:transparent url(/images/logo.jpg) no-repeat;display:block;}
.logo-small {width:100px;height:92px;background:transparent url(/images/logo-small.jpg) no-repeat;display:block;}
.title {float:right;line-height:100px;font-size:30px;color:white;}
.leftnav_header{
    /*background-image: url("/images/leftnav_header_btn_pink.gif");*/
    background-repeat: no-repeat;
    width: 180px; height: 30px;  /* font-weight:bold;*/
    padding: 2px;    cursor: pointer; font-size:16px;
}
.leftnav li{
    /*background-image: url("/images/leftnav_btn_pink.gif");*/
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;
    padding: 2px;
}
#menu .current {background-image: url("/images/leftnav_header_btn_pink.gif"); color:#333;}
.leftnav_image{
    width: 16px;
    height: 16px;
    float: left;
}
.leftnav_header_image_padding{
    padding: 5px 5px 5px 15px;
}
.leftnav_image_padding{
    padding: 5px 5px 5px 30px;
}
.leftnav_title{
    float: left;
    padding: 4px;
}
.leftnav .leftnav_title {font-size:14px;}
#s_path {
    padding:10px 0 10px 15px;
    margin-bottom:10px;
    border-bottom: 1px solid #fffffe;
}
.query {
    padding:10px 0 10px 15px;
    margin-bottom:10px;
    background-color: #F29DBC;
    border: 1px solid #fffffe;
}
.query td{
    height:30px;
}
.query input {
    width:200px;
    border: 1px solid #fffffe;
}
.query select {
    width:200px;
    height:20px;
    border: 1px solid #fffffe;
}
.txt01 {
    padding-top:5px;
}
.button_btn {
	background:url("/images/button_arrow.jpg") no-repeat scroll 14px #E82561;
	color:#ffffff; font-size:16px;
	padding: 0px 14px 0px 50px !important;
    height: 33px;
	border:0 none !important;
    cursor:pointer;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.tab_btn {
    margin-top:10px;
    text-align:center;
}
.tab_btn li {
    display:inline;
}

/*tab*/
.tab01 input {
    width:250px;
    padding:5px;
    background-color:#fffffe;
    border: 1px solid #BBBBBB;
}
.tab01 select {
    width:250px;
    padding:5px;
    background-color:#fffffe;
    border: 1px solid #BBBBBB;
}
.tab01 textarea {
    width:250px;
    height:100px;
    padding:5px;
    background-color:#fffffe;
    border: 1px solid #BBBBBB;
}
.tab {
    margin-bottom:10px;
}
.tab em{
    color:red;
    padding-right:5px;
}
.tab table {
    background-color:#fffffe;
}
#tab_table{
    background-color:#fffffe;
    table-layout: fixed;
    word-wrap:break-word;
}
.tab td {
    background-color:#fff;
    text-align:center;
 	padding:5px;
}
.tab input {
    border:1px solid #BBBBBB;
}
#tab_td{
    background-color:#fff;
    text-align:center;
    height:35px;
}
.tab .td_left {
    width:500px;
    padding:5px;
    text-align:left;
}
.tab .td_left ul li {
    width:500px;
    float:left;
}
.tab .td_left ul li span {
    font-size:14px;
    padding:3px;
    float:left;
}

#tab_tit {
    background-color:#F29DBC;
    font-size: 14px;
    font-weight: bold;color:#fff;
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px;
}
#tab_bottom {
    background-color:#F29DBC;
    font-size: 12px;
    font-weight: normal;color:#fff;
	-webkit-border-radius: 0px 0px 5px 5px;
	   -moz-border-radius: 0px 0px 5px 5px;
	        border-radius: 0px 0px 5px 5px;
}
.tab .f_tab {
    font-size: 12px;
    font-weight: bold;
    text-align:center;
    background-color: #d3d3d3;
}
/*tab*/


#login-form table {
    background-color: #F29DBC;
    border: 2px solid #fffffe;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 1em;
}
#login-form table td {
    padding: 6px;
}
#login-form label {
    font-weight: bold;
}
#login-form input#login,#login-form input#password{
    width: 250px;
    height: 20px;
    border: 1px solid #fffffe;
}

#flash {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#flash{font-weight:bold;text-align:center;}
#notice {border:2px solid #fffffe;background-color:#F29DBC;padding:1em;color:green;}
#error {border:2px solid #fffffe;background-color:#F29DBC;padding:1em;color:red;}
a.selected {color:#333333;}

/* error_messages */
.errorExplanation {background-color:#FFCCCC;border:1px solid #FF6666;margin:2px 0;}
.errorExplanation h2 {
padding: 2px 5px;
color: #333;
font-size: 11px;
margin: 0;
letter-spacing: 0;
font-family: Verdana;
background-color: #f66;
}

.errorExplanation ul {
margin: 0;
padding: 0 2px 4px 25px;
list-style: disc;
}

.errorExplanation p {
font-size: 11px;
padding: 2px 5px;
font-family: Verdana;
margin: 0;
}

.errorExplanation ul li {
font: bold 11px verdana;
letter-spacing: -1px;
margin: 0;
padding: 0;
background-color: transparent;
}
/* error_messages */

/* Pagination */
.pagination {padding: 5px; margin: 5px; text-align:center}
.pagination a {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #ccc; text-decoration: none;}
.pagination a:hover, .pagination a:active {border: 1px solid #fffffe; background-color: #F29DBC;}
.pagination span.current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #fffffe; font-weight: bold; background-color: #F29DBC;}
.pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd}
/* Pagination */

/* Info */
.info {
    background:url("/images/powerposm/alert-note.gif") no-repeat scroll 5px 2px #FFFFFF;
    border:3px solid #F29DBC;
    margin:0 0 1em;
    font-size:13px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.info .info_action{
    float:right;
    background-color:#F29DBC;
    padding:10px;
}
.info .info_action a{
    color: #FFFFFF;
}
.info .info_content{
    margin:0 0 0 40px;
    padding:10px;
}
#main .info .info_action a { color:#ffffff; }
/* Info */

.campaign_info{
    -moz-border-radius:5px 5px 5px 5px;
    border:2px solid #E1E1E1;
    font-size:14px;
    padding:10px;
}

.campaign_info p{
    padding:2px;
}

.book_info {
    -moz-border-radius:5px 5px 5px 5px;
    border:1px solid #E1E1E1;
    width:170px;
    float:left;
    margin:10px;
}
.book_info p{
    margin:2px;
}
.book_info .good_image{
    padding-top:10px;
    text-align:center;
    height:110px;
}
.book_info .good_info{
    padding:5px;
}
.book_info .good_info span{
    margin:3px;
}
.book_info .good_info input,.book_info .good_info select{
    border:1px solid #BBBBBB;
}
.div0{clear:both;height:20px;}