/*-------首页样式开始-----------*/
* {
	margin: 0px;
	padding: 0px;
	border:0;
}
body {
	font-family: "宋体", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#fff;
}
#box {
	width: 1003px;
	margin: 0 auto;
}
#header {
	background-repeat: no-repeat;
	background-position: left top;
	height: 160px;
	width: 1003px;
	margin:0 auto;
}
#header .f_c01 a, #header .f_c01 a:visited {
	color: #000;
	text-decoration: none;
}
#header .f_c01 a:hover {
	color: #f60;
	text-decoration: underline;
}
#header .quit a, #header .quit a:visited {
	color: #f60;
	text-decoration: none;
}
#header .quit a:hover {
	color: #f60;
	text-decoration: underline;
}

#content {
	width:1003px;
	margin:0 auto 10px;
}
#menu {
	float: left;
	width: 200px;
	margin-right: 13px;
}
#main {
	float: right;
	width: 788px;
}

#footer p {
	font-family: "宋体", sans-serif;
	font-size: 12px;
	color: #6e6e6e;
	background-image: url(../img/foot_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 48px !important;
	height /**/: 50px;
	width: 1001px !important;
	width /**/: 1003px;
	border: 1px solid #cbcbcb;
	text-align:center;
	line-height:48px;
}

#menu ul {
	list-style:none;
	text-align:left;
}
#menu li {
	width:200px;
	margin-bottom:2px;
}
.menu_head {
	position: relative;
}
.menu_body {
	display:none;
	width: 180px;
}
#message {
	border:1px solid #91CC49;
	background:#E9F4DA;
	width:786px !important;
	width /**/:788px;
	height:28px !important;
	height /**/:30px;
}
#message a, #message a:visited {
	color:#000;
	text-decoration:none;
}
#message a:hover {
	color:#f60;
	text-decoration:underline;
}
.mes_count {
	color:#f60;
}
.subject {
	font-weight:bold ;
}
#fun {
	width:746px !important;
	width /**/:788px;
	padding:20px;
}
#fun ol {
	list-style:none;
}
#fun li {
	line-height:160%;
	text-align:center;
	display:inline;
	float:left;
	margin-bottom:20px;
}
#fun dl {
	width:248px;
}
#fun dt {

}
#fun dd {
	text-align:left;
	padding-left:30px;
	color:#6E6E6E;
}
/*-------首页样式结束-----------*/

/*----------中间内容导航条样式开始-----------*/
#all_con {
	width:788px;
}
.con_det {
	margin-top:10px;
	width:788px;
	position:relative;
	overflow:hidden;
	float:left;
}
#lin_b {
	position:absolute;
	left:0;
	top:0;
	width:788px;
	height:25px !important;
	height /**/:26px;
	line-height:25px;
	overflow:hidden;
	border-bottom:1px solid #6c92ad;
}
.con_det .tabs{
	margin-left:20px;
	width:788px;
	height:26px;
	list-style:none;
	overflow:hidden;
}
.con_det .tabs li{
	float:left;
	text-align:center;
	width:101px;
	height:15px !important;
	height /**/:26px;
	padding:7px 0 4px 0;
	overflow:hidden;
	margin-right:1px;
	position:relative;
	background-image: url(../img/con_l.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.con_det .tabs li a,
.con_det .tabs li a:visited,
.con_det .tabs li a:hover {
	color:#074977;
	text-decoration:none;
}
.chosen {
	background-image: url(../img/con_h.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	text-align:center;
	width:101px;
	height:15px !important;
	height /**/:26px;
	padding:7px 0 4px 0;
	overflow:hidden;
	margin-top:-7px;
	margin-right:1px;
	position:relative;
}
#cnt1 {
	width:788px;
	margin:10px 0 0 0;
	/*clear:both;*/
	overflow:hidden;
}
#cnt2, #cnt3, #cnt4 {
	width:788px;
	margin:10px 0 0 0;
	/*clear:both;*/
	overflow:hidden;
	display:none;
}
/*----------中间内容导航条样式结束-----------*/

/*------------右边内容样式开始------------------*/
/*********查询栏样式开始************/
 /*------------右边内容样式开始------------------*/
/*********查询栏样式开始************/
.query {
	padding:10px 0 10px 15px;
	margin-bottom:10px;
	width:770px !important;
	width /**/:788px;
	background-color: #c8e8f3;
	border: 1px solid #429ed1;
}
.txt01 {
	width:198px !important;
	width /**/:200px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	border: 1px solid #429ed1;
}
.qy_btn {
	background-image: url(/order_sys/resources/images/btn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
	width: 75px;
	padding-top:3px;
	cursor:pointer;
}
/*********查询栏样式结束************/

/*********表格公共样式开始************/
.tab {
	margin-bottom:10px;
}
.tab table {
	background-color:#429ed1;
}
#tab_table{

	background-color:#429ed1;
	table-layout: fixed;
	word-wrap:break-word;
}
.tab td {
	background-color:#fff;
	text-align:center;
	height:35px;
}
#tab_td{

	background-color:#fff;
	text-align:center;
	height:35px;
}
.tab .td_left {
	padding-left:5px;
	background-color:#fff;
	text-align:left;
	height:35px;
}
.tab .input_address{

	width:378px !important;
	width /**/:380px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.input_queryVchile{

	width:50px !important;
	width /**/:52px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	border: 1px solid #429ed1;
}
.tab .storage_address{

	width:268px !important;
	width /**/:270px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab .input_goods{

	width:68px !important;
	width /**/:70px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
#input_goods{

	width:68px !important;
	width /**/:70px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab .input_finance{

	width:68px !important;
	width /**/:70px;
	height:8px !important;
	height /**/:15px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}

.tab .input_money{

	width:68px !important;
	width /**/:70px;
	height:18px !important;
	height /**/:20px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab .input_info{

	width:98px !important;
	width /**/:100px;
	height:18px !important;
	height /**/:20px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
#input_money{

	width:58px !important;
	width /**/:60px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}

#tab_tit {
	background-color:#c8e8f3;
	font-size: 14px;
	font-weight: bold;
}/*此为表格上标题样式*/
#tab_tit02 {
	background-color:#c8e8f3;
	font-size: 12px;
	font-weight: normal;
}/*此为表格下标题样式*/
#tab_tit02 a {
	color:#000;
	text-decoration:none;
}
#tab_tit02 a:visited {
	color:#000;
	text-decoration:none;
}
#tab_tit02 a:hover {
	color:#f60;
	text-decoration:underline;
}
.tab01 input {
	width:198px !important;
	width /**/:200px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab01 .txt02 {
	width:78px !important;
	width /**/:80px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab01 .txt021 {
	width:48px !important;
	width /**/:50px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}

.tab01 .txt04 {
	width:128px !important;
	width /**/:130px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	padding-left:5px
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab01 .txt03 {
	width:38px !important;
	width /**/:40px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}

.tab01 select {
	width:98px !important;
	width  :100px;
	height  :20px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.tab01 .dele_input{

	width:78px !important;
	width /**/:80px;
	height:13px !important;
	height /**/:20px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
#addclientbtn{

	width:78px !important;
	width /**/:80px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;

}
.tab .f_tab {
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	background-color: #d3d3d3;
}
.tab_lk a {
	color:#000;
	text-decoration:none;
}
.tab_lk a:visited {
	color:#000;
	text-decoration:none;
}
.tab_lk a:hover {
	color:#f60;
	text-decoration:none;
}
.tab_btn {
	width:788px;
	margin-top:10px;
	text-align:center;
}

.tab_print_btn{

	width:450px;
	margin-top:10px;
	text-align:center;
}
.tab_print_btn ul{
	list-style:none;
	}

.tab_btn ul {
	list-style:none;
}
.tab_btn li {
	display:inline;
}
.bt_r {
	margin-right:10px;
}

/*此为表格下标题样式*/
#tab_tit02 a, #tab_tit02 a:visited {
	color:#000;
	text-decoration:none;
}
#tab_tit02 a:hover {
	color:#f60;
	text-decoration:underline;
}
.tab01 input {
	width:168px !important;
	width /**/:170px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #6C92AD; /*#429ed1*/
}
.tab .f_tab {
	font-size: 12px;
	font-weight: bold;
	background-color: #d3d3d3;
}
.tab_lk a, .tab_lk a:visited {
	color:#000;
	text-decoration:none;
}
.tab_lk a:hover {
	color:#f60;
	text-decoration:none;
}
.tab_btn {
    width:788px;
	margin-top:10px;
	text-align:center;
}
.tab_btn2{

	margin-top:10px;
	padding-left:350px;
}
.tab_btn2 li {
	display:inline;
	float:left;
}
.tab_btn ul {
	list-style:none;
}
.tab_btn li {
	display:inline;
}

}
/*********表格公共样式结束************/
/*********表格公共样式结束************/

/*********弹出层样式开始************/
#popup {
	float:right;
	width:360px;
}
#popup h3 {
	padding:13px 0 0 30px;
	height:17px !important;
	height /**/:30px;
	background-image: url(/order_sys/resources/images/popup_t.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#popup p {
	padding:10px 10px 15px;
	background-image: url(/order_sys/resources/images/popup_m.gif);
	background-repeat: repeat-y;
	background-position: center center;
	line-height:18px;
	text-indent:2em;
}
.pop_b {
	width:360px;
	background-image: url(/order_sys/resources/images/popup_b.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	display:block;
	font-size:1px;
}

#input_address{

	width:198px !important;
	width /**/:200px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
#input_short{

	width:48px !important;
	width /**/:50px;
	height:18px !important;
	height /**/:25px;
	padding-top:5px;
	background-color:#fffacd;
	border: 1px solid #429ed1;
}
.qy_btn {
	background-image: url(/order_sys/resources/images/btn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
	width: 75px;
	padding-top:3px;
	cursor:pointer;
}
/*********表格公共样式结束************/

/*-------------右边内容样式结束------------------*/







/*-----------即时发页面样式开始--------------*/
#cont_right {
	width:775px;
	text-align:center;
}
#s_cont_tit h1 {
	width:765px !important;
	width /**/:775px;
	height:15px !important;
	height /**/:25px;
	padding-top:10px;
	padding-left:10px;
	color:#02339c;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	border-bottom:1px solid #474747;
	background:url(../../images/pre_in/art_ico.gif) no-repeat left 10px;
}
#tishi {
	margin-top:5px;
	text-align:left;
	color:#f60;
}
#list_cont {
	margin-top:8px;
	width:750px;
	text-align:left;
}
#list_tit {
	width:750px;
	height:30px;
	background: url(../../images/pre_in/dat_bg.gif) repeat-x left top;
}
#list_tit a, #list_tit a:visited {
	color:#696969;
	text-decoration:none;
}
#list_tit a:hover {
	color:#696969;
	text-decoration:underline;
}
.mess_pad {
	margin-bottom:5px;
}
.mess_head {
	width:100px;
	text-align:center;
}
.mess_head ul {
	list-style:none;
}
.mess_head li {
	margin-bottom:3px;
}
.mess_head a, .mess_head a:visited {
	color:#696969;
	text-decoration:none;
}
.mess_img {
	width:50px !important;
	width /**/:55px;
	height:50px !important;
	height /**/:55px;
	padding:3px;
	margin-top:10px;
	text-align:center;
	border:1px solid #7392C8;
}
.mess_time {
	width:590px;
	height:30px;
	margin-bottom:5px;
	border-bottom:1px solid #EEF6F9;
}
.gray_m, .mess_re_date {
	color:#A6A6A6;
}
.mess_time a {
	display:block;
	float:left;
	width:40px;
	padding-left:25px;
	background-image: url(../../images/pre_in/reply.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.def_li {
	width:710px !important;
	margin-top:10px;
	border-bottom:1px solid #bbbbbb;
}
#del_li {
	padding-left:20px;
	background: url(../../images/pre_in/del.gif) no-repeat left center;
}
.mess_cont {
	width:590px;
	padding:10px 0 0;
	margin-bottom:2px;
}
.mess_cont p{
	line-height:20px;
}

.mess_bline {
	margin-top:10px;
	border-bottom:1px solid #eef6f9;
}
.b_list_tit {
	margin-top:10px;
	margin-bottom:20px;
}

#in_mess {
	width:500px;
	margin:0 auto;
	font-size:12px;
	line-height:18px;
}
.in_area {
	width:500px;
	height:80px;
	padding-top:4px;
 	padding-left: 3px;
}
.btn_instant {
	background-image: url(../../images/search_btn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 22px;
	width: 50px;
	border: 0;
	color: #fff;
	padding-top: 2px;
	cursor: pointer;
	font-size: 12px;
	color: #000;
}
.domainBut {
	background-image: url(/order_sys/resources/images/web_btn_02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 50px;
	width: 200px;
	border:0;
	font-size:12px;
	cursor:pointer;
}

.cont_s01 {
	width:768px !important;
	width /**/:788px;
	padding:10px;
	text-align:left;
	border-bottom:1px dotted #ccc;

	}
.cont_s01 p{
	text-indent:2em;
	line-height:180%;
	font-size:14px;
	}
.js_tit {
	font-weight:bold;
	}
.cont_s01 a, .cont_s01 a:visited{
	color:#f60;
	text-decoration:none;
	}
.cont_s01 a:hover{
	color:#f60;
	text-decoration:underline;
}
.cont_s01 .js_btn {
	display:block;
	text-align:right;
	padding-right:20px;
	}
/*-----------即时发页面样式结束--------------*/

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr?              |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}

#s_path {
	padding:10px 0 10px 15px;
	margin-bottom:10px;
	width:770px !important;
	width /**/:788px;
	border-bottom: 1px solid #429ed1;
}
#s_path a, #s_path a:visited {
	color:#013068;
	text-decoration:none;
}
#s_path a:hover {
	color:#4b8fc1;
	text-decoration:none;
}


