* {
    margin: 0px;
    padding: 0px;
    border:0;
}
body {
    background:#fff url(/images/bg.jpg) repeat-x 0 0;
    font-family: "黑体","宋体", Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color:#fff;
}
ol,ul{
    list-style:none;
}
a, a:visited {
    color: #013068;
    text-decoration: none;
}
a:hover {
    color: #013068;
    text-decoration: underline;
}
.fLeft {float:left;}
.fRight {float:right;}
.clear {clear:both;}
#topper {
    width: 1003px; margin:0 auto;
}
#container {
    clear:both;
    width: 1003px;
    margin: 0 auto;
    background-color:#fff;
    -moz-border-radius: 4px 4px 4px 4px;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
        border-style: solid;
        border-width: 1px;
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        background: none repeat scroll 0 0 #FFFFFF;
}
#header {
    background:#fff url('/images/head-bg.jpg') repeat-x;
    width:1003px;
    height: 60px;
}
#profile {
    padding:10px 20px;
}

#content {
    width:1003px;
    min-height:500px;
    height:500px;
}
#menu {
/*  background-color: #EDF4FE;
    height: 600px;*/
    width: 180px;
    margin-left:10px;
    margin-right: 15px;
    float: left;
}
#main {
    float: left;
    width: 786px;
}
#footer{
    clear:both;
    padding:10px; margin-top:2em; background-color:#eee;
    color: #000000;
    text-align: center;
}
#footer a{
    color: #999999;
}

.logo {width:200px;height:184px;background:transparent url(/images/logo.jpg) no-repeat;display:block;}
.logo-small {width:100px;height:92px;background:transparent url(/images/logo-small.jpg) no-repeat;display:block;}
.title {float:right;line-height:100px;font-size:30px;color:white;}
.leftnav_header{
    background-image: url("/images/leftnav_header_btn_pink.gif");
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;   font-weight:bold;
    padding: 2px;    cursor: pointer;
}
.leftnav li{
    background-image: url("/images/leftnav_btn_pink.gif");
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;
    padding: 2px;
}
.leftnav_image{
    width: 16px;
    height: 16px;
    float: left;
}
.leftnav_header_image_padding{
    padding: 5px 5px 5px 15px;
}
.leftnav_image_padding{
    padding: 5px 5px 5px 30px;
}
.leftnav_title{
    float: left;
    font-size: 16px;
    padding: 4px;
}
#s_path {
    padding:10px 0 10px 15px;
    margin-bottom:10px;
    border-bottom: 1px solid #FDEEF3;
}
.query {
    padding:10px 0 10px 15px;
    margin-bottom:10px;
    background-color: #F29DBC;
    border: 1px solid #FDEEF3;
}
.query td{
    height:30px;
}
.query input {
    width:200px;
    border: 1px solid #FDEEF3;
}
.query select {
    width:200px;
    height:20px;
    border: 1px solid #FDEEF3;
}
.txt01 {
    padding-top:5px;
}
.button_btn {
    background-image: url(/images/button_btn_pink.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 25px;
    width: 75px;
    cursor:pointer;
}
.tab_btn {
    width:786px;
    margin-top:10px;
    text-align:center;
}
.tab_btn li {
    display:inline;
}

/*tab*/
.tab01 input {
    width:200px;
    height:18px;
    padding-top:5px;
    background-color:#fffacd;
    border: 1px solid #FDEEF3;
}
.tab01 select {
    width:200px;
    height:20px;
    background-color:#fffacd;
    border: 1px solid #FDEEF3;
}
.tab01 textarea {
    width:250px;
    height:100px;
    background-color:#fffacd;
    border: 1px solid #FDEEF3;
}
.tab {
    margin-bottom:10px;
}
.tab em{
    color:red;
    padding-right:5px;
}
.tab table {
    background-color:#FDEEF3;
}
#tab_table{
    background-color:#FDEEF3;
    table-layout: fixed;
    word-wrap:break-word;
}
.tab td {
    background-color:#fff;
    text-align:center;
    height:35px;
}
.tab input {
    border:1px solid #BBBBBB;
}
#tab_td{
    background-color:#fff;
    text-align:center;
    height:35px;
}
.tab .td_left {
    width:500px;
    padding:5px;
    text-align:left;
}
.tab .td_left ul li {
    width:500px;
    float:left;
}
.tab .td_left ul li span {
    font-size:14px;
    padding:3px;
    float:left;
}

#tab_tit {
    background-color:#F29DBC;
    font-size: 14px;
    font-weight: bold;color:#fff;
}
#tab_tit02 {
    background-color:#F29DBC;
    font-size: 12px;
    font-weight: normal;color:#fff;
}
.tab .f_tab {
    font-size: 12px;
    font-weight: bold;
    text-align:center;
    background-color: #d3d3d3;
}
/*tab*/


#login-form table {
    background-color: #F29DBC;
    border: 2px solid #FDEEF3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 1em;
}
#login-form table td {
    padding: 6px;
}
#login-form label {
    font-weight: bold;
}
#login-form input#login,#login-form input#password{
    width: 250px;
    height: 20px;
    border: 1px solid #FDEEF3;
}

#flash {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#flash{font-weight:bold;text-align:center;}
#notice {border:2px solid #FDEEF3;background-color:#F29DBC;padding:1em;color:green;}
#error {border:2px solid #FDEEF3;background-color:#F29DBC;padding:1em;color:red;}
a.selected {color:green;}

/* error_messages */
.errorExplanation {background-color:#FFCCCC;border:1px solid #FF6666;margin:2px 0;}
.errorExplanation h2 {
padding: 2px 5px;
color: #333;
font-size: 11px;
margin: 0;
letter-spacing: 0;
font-family: Verdana;
background-color: #f66;
}

.errorExplanation ul {
margin: 0;
padding: 0 2px 4px 25px;
list-style: disc;
}

.errorExplanation p {
font-size: 11px;
padding: 2px 5px;
font-family: Verdana;
margin: 0;
}

.errorExplanation ul li {
font: bold 11px verdana;
letter-spacing: -1px;
margin: 0;
padding: 0;
background-color: transparent;
}
/* error_messages */

/* Pagination */
.pagination {padding: 5px; margin: 5px; text-align:center}
.pagination a {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #ccc; text-decoration: none;}
.pagination a:hover, .pagination a:active {border: 1px solid #FDEEF3; background-color: #F29DBC;}
.pagination span.current {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #FDEEF3; font-weight: bold; background-color: #F29DBC;}
.pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd}
/* Pagination */

/* Info */
.info {
    -moz-border-radius:5px 5px 5px 5px;
    background:url("/images/powerposm/alert-note.gif") no-repeat scroll 5px 2px #FFFFFF;
    border:3px solid #F29DBC;
    margin:0 0 1em;
    font-size:13px;
}
.info .info_action{
    float:right;
    font-weight:bold;
    background-color:#F29DBC;
    padding:10px;
}
.info .info_action a{
    color:#FFFFFF;
}
.info .info_content{
    margin:0 0 0 40px;
    padding:10px;
}
/* Info */

.campaign_info{
    -moz-border-radius:5px 5px 5px 5px;
    border:2px solid #E1E1E1;
    font-size:14px;
    padding:10px;
}

.campaign_info p{
    padding:2px;
}

.book_info {
    -moz-border-radius:5px 5px 5px 5px;
    border:1px solid #E1E1E1;
    width:170px;
    float:left;
    margin:10px;
}
.book_info p{
    margin:2px;
}
.book_info .good_image{
    padding-top:10px;
    text-align:center;
    height:110px;
}
.book_info .good_info{
    padding:5px;
}
.book_info .good_info span{
    margin:3px;
}
.book_info .good_info input,.book_info .good_info select{
    border:1px solid #BBBBBB;
}
.div0{clear:both;height:20px;}