<script type="text/javascript" charset="utf-8">
    var grid;
    var ds;
    Ext.onReady(function(){
      init_grid();
    });
    function init_grid() {
        ds = new Ext.data.GroupingStore({
            proxy: new Ext.data.HttpProxy(
            {
                url: '/productions/<%=@production.id%>/load_data'
            }),

            reader: new Ext.data.JsonReader({
                    root: 'Plis',
                    totalProperty: 'size',
                    id: 'id'
                },
                [
                    {name: 'id', mapping: 'id'},
                    {name: 'sku', mapping: 'sku'},
                    {name: 'name', mapping: 'name'},
                    {name: 'quantity_collected', mapping: 'quantity_collected'},
                    {name: 'quantity_adjusted', mapping: 'quantity_adjusted'},
                    {name: 'quantity_total', mapping: 'quantity_total'}
                ]),
        });
        var cm = new Ext.grid.ColumnModel([
            {id: 'sku', header: "sku", dataIndex: 'sku',sortable:true,width:150},
            {id: 'name', header: "物料名称", dataIndex: 'name',sortable:true,width:186},
            {id: 'quantity_collected', header: "预定数量", dataIndex: 'quantity_collected',sortable:true,width:150},
            {id: 'quantity_adjusted', header: "调整数量", dataIndex: 'quantity_adjusted',sortable:true,width:150},
            {id: 'quantity_total', header: "预定总数", dataIndex: 'quantity_total',sortable:true,width:150}
        ]);

    var filters = new Ext.ux.grid.GridFilters({
        local: true,   // defaults to false (remote filtering)
        filters: [
        {
            type: 'string',
            dataIndex: 'sku'
        }, {
            type: 'string',
            dataIndex: 'name',
        }, {
            type: 'numeric',
            dataIndex: 'quantity_collected'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_adjusted'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_total'
            }
        ]
    });


    grid = new Ext.grid.GridPanel({
        autoHeight: true,
        autoWidth: true,
        ds: ds,
        cm: cm,
        sm: new Ext.grid.RowSelectionModel({ singleSelect: true }),
        plugins: [filters],
        view: new Ext.grid.GroupingView({
            forceFit:true,
            groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
        }),
        title: '<center>生产单详细（<%=@production.show_status%>）<%if @production.locked%><a href="/productions/<%=@production.id%>/print"><img src="/images/icons/printer.png" /></a><%end%></center>'
    });

    grid.render('production_list');
    ds.load({params:{start:0}});
    grid.on("rowcontextmenu",function(grid,rowIndex,e){
        if(rowIndex<0){return;}
        e.preventDefault();
        grid.getSelectionModel().selectRow(rowIndex);
        var treeMenu = new Ext.menu.Menu([
            {
                xtype:"",
                text:"显示详情",
                icon:"/images/icons/database.png",
                pressed:true,
                handler:function(){
                    var selections = grid.getSelectionModel().getSelections();
                    for (var i = 0; i < selections.length; i++) {
                        parent.addwindow("/materials/"+selections[i].get('id')+"/iframe_show","物料详情",400,300);
                    }

                }
            }
        ]);
        treeMenu.showAt(e.getPoint());
    });
    }
</script>