<div id="plis_list">
<script type="text/javascript" charset="utf-8">
    var grid;
    var ds;
    Ext.onReady(function(){
      init_grid();
    });
    function init_grid() {
        var App = new Ext.App({});

        var editor = new Ext.ux.grid.RowEditor({
            saveText: '调整',
            cancelText: "取消"
        });

        var writer = new Ext.data.JsonWriter({
            encode: false
        });

        ds = new Ext.data.GroupingStore({
            proxy: new Ext.data.HttpProxy({
                api: {
                        read: '/productions/<%=@production.id%>/load_data',
                        update: {url: '/production_line_items/ext_update', method: 'put'}
                     }
            }),
            reader: new Ext.data.JsonReader({
                    root: 'Plis',
                    totalProperty: 'size',
                    messageProperty: 'message'
                },
                [
                    {name: 'material_id', mapping: 'material_id'},
                    {name: 'sku', mapping: 'sku'},
                    {name: 'name', mapping: 'name'},
                    {name: 'quantity_collected', mapping: 'quantity_collected'},
                    {name: 'quantity_adjusted', mapping: 'quantity_adjusted'},
                    {name: 'quantity_total', mapping: 'quantity_total'}
                ]),
            // restful: true,
            writer: writer
        });
        var cm = new Ext.grid.ColumnModel([
            {id: 'sku', header: "sku", dataIndex: 'sku',sortable:true,width:150},
            {id: 'name', header: "物料名称", dataIndex: 'name',sortable:true,width:186},
            {id: 'quantity_collected', header: "预定数量", dataIndex: 'quantity_collected',sortable:true,width:150},
            {id: 'quantity_adjusted', header: "调整数量", dataIndex: 'quantity_adjusted',sortable:true,width:150,editor: new Ext.form.TextField({})},
            {id: 'quantity_total', header: "预定总数", dataIndex: 'quantity_total',sortable:true,width:150}
        ]);

    var filters = new Ext.ux.grid.GridFilters({
        local: true,   // defaults to false (remote filtering)
        filters: [
        {
            type: 'string',
            dataIndex: 'sku'
        }, {
            type: 'string',
            dataIndex: 'name'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_collected'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_adjusted'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_total'
            }
        ]
    });

    var summary = new Ext.ux.grid.HybridSummary();

    var plugins = [filters,summary];
    <%unless @production.locked%>
        plugins.push(editor);
    <%end%>

    grid = new Ext.grid.GridPanel({
        loadMask: true,
        // autoHeight: true,
        height: 300,
        autoWidth: true,
        ds: ds,
        cm: cm,
        sm: new Ext.grid.RowSelectionModel({ singleSelect: true }),
        plugins: plugins,
        view: new Ext.grid.GroupingView({
            forceFit:true,
            groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
        }),
        title: '<center>生产单详细（<%=@production.show_status%>）<%if @production.locked%><a href="/productions/<%=@production.id%>/print"><img src="/images/icons/printer.png" /></a><%end%></center>'
    });

    grid.render('plis_list');
    ds.load();//{params:{start:0}}
    grid.on("rowcontextmenu",function(grid,rowIndex,e){
        if(rowIndex<0){return;}
        e.preventDefault();
        grid.getSelectionModel().selectRow(rowIndex);
        var treeMenu = new Ext.menu.Menu([
            {
                xtype:"",
                text:"显示详情",
                icon:"/images/icons/database.png",
                pressed:true,
                handler:function(){
                    var selections = grid.getSelectionModel().getSelections();
                    for (var i = 0; i < selections.length; i++) {
                        parent.addwindow("/materials/"+selections[i].get('material_id')+"/iframe_show","物料详情",400,300);
                    }

                }
            }
        ]);
        treeMenu.showAt(e.getPoint());
    });

    Ext.data.DataProxy.addListener('beforewrite', function(proxy, action) {
        App.setAlert(App.STATUS_NOTICE, "正在调整中...");
    });

    Ext.data.DataProxy.addListener('write', function(proxy, action, result, res, rs) {
        App.setAlert(true, res.message);
    });

    Ext.data.DataProxy.addListener('exception', function(proxy, type, action, options, res) {
        // App.setAlert(false, "Something bad happend while executing " + action);
        Ext.Msg.show({
            title: '发生错误',
            msg: res.message,
            icon: Ext.MessageBox.ERROR
        });
    });

    }
</script>
</div>

<% unless @production.locked %>
    <br/>
    <% form_for @production do |f| -%>
    <div class="tab_btn">
        <%= f.submit "锁定",:class=>"button_btn",:confirm=>"锁定生产单后将不能修改！您确认要锁定吗？" %>
    </div>
    <% end %>
<% end %>